.selector-for-some-widget {
    box-sizing: content-box;
  }
*{
    margin: 0px;
    padding: 0px;
}
.d-block{
    height: 35rem;
}
.nav-link{
    
    text-shadow: 1px 1px black;
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-link:hover {
    text-shadow: black;
    color:red ;
    text-decoration: underline;
}
body{
    background-image:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, black, black 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.cover {
    width: 100%;
    height: 500px;
    padding: 50px;
    background-image: url("../res/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 90px;
    box-shadow: 0 2px 2px rgba(1, 1, 1);
    box-sizing: border-box;
}

.cover .heading {
    font-size: 5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    position: relative;
    top: 50%;
    display: inherit;
   
    text-shadow: 5px 2px rgb(40, 0, 0);
}
.heading {
    font-size: 4em;
    font-family: 'Bree Serif', serif;
    margin-left: 35%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

label{
    color:white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5%;
}
h2{
    color: cornsilk;
}
.contact{
    margin-left: 40%;
}


#contactform>div{
    width: 150px;
}
#contactform>div>input{
    width: 220px;
    height: 30px;
}
#contactform>div>select{
   width: 220px;
   height: 30px;
}
#contactform>div>label{
    width: 220px;

}
.button_form1{
    margin-left:10% ;
}
.courses{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
}

.courses div{
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 2%;
    width: 27%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:1;
    
}


.course3{
    margin-bottom: 6px;
    background-image: url("../res/image3.png");
}
.course2{
    margin-bottom: 6px;
    background-image:url("../res/image2.png");
}
.course9{
    margin-bottom: 6px;
    background-image: url("../res/image9.png");
}
.course4{
    margin-bottom: 6px;
    background-image: url("../res/image4.png");
}
.course5{
    margin-bottom: 6px;
    background-image:url("../res/image5.png");
}
.course6{
    margin-bottom: 6px;
    background-image: url("../res/image6.png");
}
.course7{
    margin-bottom: 6px;
    background-image: url("../res/image7.png");
}
.course8{
    margin-bottom: 6px;
    background-image: url("../res/images8.png");
}
.course1{
    margin-bottom: 6px;
    background-image: url("../res/image1.png");
}


.button_form{
    display: inline;

}
.feedback{
    margin-left: 40%;
}
    /* cette classe est à ajouter lorsque que vous utilisez une version de Bootstap supérieure ou égale à la 3.1.0 */
    .nav-collapse.collapse.in {
        display: block!important;
        }
        .collapsing {
        overflow: hidden!important;
        }

    